*{
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    border: 1px black solid;
    background-image: linear-gradient(to right, #AC214E, #932CA8);
}

#section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    z-index: 2;
}

.btn{
    font-size: large;
    width: 6rem;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffffff4a;
    margin: 1rem 1rem 1rem 0rem;
    padding: 3px;
    cursor: pointer;
}


h4{
    margin-top: 2rem;
}

.csscode{
    border-left: 3px solid rgb(176, 176, 176);
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.091);
    cursor: pointer;
    margin-top: 0.4rem;
}

@media (max-width: 481px) {
  .btn{
    font-size: medium;
    /* display: inline; */
    width: 5rem;
    height: auto;
    margin: 1rem 0.1rem 1rem 0rem;
  }
}